__pycache__
*.xml
*.tmp
config.yaml
config-node.yaml
dist/
build/
*.pyc
dock_build.bat
./db.db
.vscode/launch.json
*.log
item
static/
data
build
dist
data1
doc2pdf/*.docx
doc2pdf/*.pdf
demo.txt
test.yaml
.venv
.idea
.trae
.DS_Store
web_ui/dist/
web_ui/package-lock.json